.big-underlined{
    font-size:22px;
    font-family:rufina-bold;
    border-bottom:1px solid grey;
    padding-bottom:5px;
    margin-top:0;
}
div article.element-third-4{
    display:flex;
    flex-direction:row;
    width:auto;
}
.instagram-column{
    display:flex;
    flex-direction:column;
}