@media (min-width:1024px) {
    .third-column{
        display:flex;
        flex-direction:column;
        width:321px;
        padding-right:200px;
    }
}

@media (max-width:1023px) {
    .third-column{
        display:flex;
        flex-direction:column;
        width:321px;
    }
}    