@media (min-width: 1024px){
    .menu-right{
        display:flex;
        width:350px;
        }
    .menu-left{
        display:flex;
        flex-basis:auto;
        width:350px;
        }
}

@media (max-width: 1023px){
    .menu-right{
        display:flex;
        justify-content: flex-start;
    }
    .menu-left{
        display:flex;
        flex-basis:auto;
        justify-content:flex-end;
        }
}
img.menu-left-icons{
    padding-left:10px;
   }
.menu-bar{
 display:flex;
 width:100%;
 justify-content:space-around;
 flex-basis:auto;
 margin-top:40px;
}
button.right-sign-in{
    background-color:white;
    border:none;
}
select.country{
    border:none;
}