@media (min-width: 1024px){
    .menu-left{
        display:flex;
        flex-basis:auto;
        width:350px;
        }
}

@media (max-width: 1023px){
    .menu-left{
        display:flex;
        flex-basis:auto;
        justify-content:flex-end;
        }
}
img.menu-left-icons{
    padding-left:10px;
}